@import './variables';

.c-bg{
    &-yellow{
        background-color: $color-yellow;
    }
    &-orange{
        background-color: $color-orange;
    }
    &-grayish{
        background-color: $color-grayish;
    }
}

.c-text{
    &-yellow{
        color: $color-yellow;
    }
    &-orange{
        color: $color-orange;
    }
    &-grayish{
        color: $color-grayish;
    }
}